<div *ngIf="cartItems.length==0" class="container">
    <div class="row">
        <h1>your cart is empty</h1>
    </div>
</div>



<!-- cart design -->
<div *ngIf="cartItems.length>0" class="container">
    <div class="row">
        <table class="table">
            <thead>
                <tr>
                    <th>No</th>
                    <th>product Image</th>
                    <th>quantity</th>
                    <th>price</th>
                    <th>action</th>
                </tr>
            </thead>
            <tbody *ngFor="let item of cartItems; let i=index">
                <tr>
                    <th>{{i+1}}</th>
                    <th>
                        <img style="width: 50px; height: 50px;" [src]="item.image" alt="product image">
                    </th>
                    <th>
                        <input style="width: 55px;" type="number">
                    </th>
                    <th>${{item.price}}</th>
                    <th><a (click)="removeItem(item)"><i class="fa-solid fa-trash fa-shake"></i></a></th>
                </tr>
            </tbody>
        </table>
        <div class="right-side">
            <h3>Total Cost: {{grandTotal}}</h3>
            <h4>offer amount: {{discount}}</h4>
            <h4 class="text-danger">GrantTotal : {{discountTotal}}</h4>
            <div class="buttonsa">
                <a (click)="emptyCart()" class="btn btn-outline-danger">Empty Cart</a>
                <a class="btn btn-outline-warning" data-bs-toggle="modal" data-bs-target="#checkOutModal">Check Out</a>
                <a routerLink="" class="btn btn-outline-primary">Shop More</a>
                <a class="btn btn-outline-warning" data-bs-toggle="modal" data-bs-target="#exampleModal">Offers</a>
            </div>
        </div>
    </div>
</div>


<!-- offeras -->
<!-- Button trigger modal -->


<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="exampleModalLabel">Coupons</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div *ngIf="grandTotal>0 && grandTotal<10" class="modal-body">
                <img (click)="discount3percent()" data-bs-dismiss="modal" height="100px" width="100px"
                    src="https://tse3.mm.bing.net/th?id=OIP.6drr0UpwfrSH72-krmNHTwHaEx&pid=Api&P=0" alt="offer image">
                <p class="text-primary">All Users can apply</p>
            </div>
            <div *ngIf="grandTotal>=10 && grandTotal<=100" class="modal-body">
                <img (click)="discount10percent()" data-bs-dismiss="modal" height="100px" width="100px"
                    src="https://tse1.mm.bing.net/th?id=OIP.lLrYMG5XKHWlYxz79ZbU9gHaDa&pid=Api&P=0" alt="offer image">
                <p class="text-primary">special offers</p>
            </div>
            <div *ngIf="grandTotal>100" class="modal-body">
                <img (click)="discount50percent()" data-bs-dismiss="modal" height="100px" width="100px"
                    src="https://tse3.mm.bing.net/th?id=OIP.9er5FxlS-wFgv0LNaeJblQAAAA&pid=Api&P=0" alt="offer image">
                <p class="text-primary">special offers</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">close</button>
                <button type="button" class="btn btn-primary">Apply coupon</button>
            </div>
        </div>
    </div>
</div>



<!-- checkout model -->

<!-- Button trigger modal -->

<div class="modal fade" id="checkOutModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="exampleModalLabel">Payment Info</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <h1>Customer Details</h1>
                <form class="border p-2">
                    <div class="mb-2">
                        <input type="text" placeholder="Customer Name" class="form-control">
                    </div>
                    <div class="mb-2">
                        <input type="text" placeholder="Customer Adress" class="form-control">
                    </div>
                    <div class="mb-2">
                        <input type="text" placeholder="Customer Pincode" class="form-control">
                    </div>
                    <div class="mb-2">
                        <input type="text" placeholder="Customer Mobile" class="form-control">
                    </div>
                    <div class="mb-2">
                        <input type="text" placeholder="Customer Email" class="form-control">
                    </div>
                </form>
                <hr>
                <h5 class="mb-2">Payment Details</h5>
                <form class="border p-2">
                    <div class="mb-2">
                        <input type="text" placeholder="Card Holder Name">
                    </div>
                    <div class="mb-2">
                        <input type="text" placeholder="Card Number">
                    </div>
                </form>
                <p class="text-success">{{checkOutMsg}}</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                <button (click)="checkOut()" type="button" class="btn btn-primary">Make Payment</button>
            </div>
        </div>
    </div>
</div>