<!-- empty wishlist -->
<div *ngIf="!wishlistStatus" class="container">
    <div class="row">
        <img style="height: 300px; width: 400px;" src="https://i.pinimg.com/originals/13/13/7d/13137d5f9dd7ce895b5f20fc726be2e0.gif" alt="empty wishlist">
        <h3 class="text-dark">Your wishlist is empty</h3>
    </div>
    <a class="btn btn-outline-dark mt-auto" routerLink="">shop now</a>
</div>



<!-- wishlist product section -->
<section *ngIf="wishlistStatus" class="py-5">
    <div class="container px-4 px-lg-5 mt-5">
        <div class="row gx-4 gx-lg-5 row-cols-2 row-cols-md-3 row-cols-xl-4 justify-content-center">
            <div class="col mb-5" *ngFor="let product of wishlist">
                <div class="card h-100 p-3">
                    <!-- Product image-->
                    <img height="150px" class="card-img-top" [src]="product.image" alt="..." />
                    <!-- Product details-->
                    <div class="card-body p-4">
                        <div class="text-center">
                            <!-- Product name-->
                            <h5 class="fw-bolder">{{product.title.slice(0,20)}}...</h5>
                            <!-- Product price-->
                            ${{product.price}}
                        </div>
                    </div>
                    <!-- Product actions-->
                    <div class="card-footer p-4 pt-0 border-top-0 bg-transparent">
                        <div  class="wishbtns">
                            <a class="btn btn-outline-dark"><i class="fa-solid fa-trash fa-shake"></i></a>
                            <a class="btn btn-outline-dark mt-auto" routerLink="/products/cart"><i class="fa-solid fa-cart-plus fa-shake"></i></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
